<h1>Listing sliders</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sliders.each do |slider| %>
  <tr>
    <td><%= slider.title %></td>
    <td><%= slider.description %></td>
    <td><%= link_to 'Show', slider %></td>
    <td><%= link_to 'Edit', edit_slider_path(slider) %></td>
    <td><%= link_to 'Destroy', slider, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Slider', new_slider_path %>
