<% content_for :menu do %>
  <ul class="menu">
    <% @menus.each do |menu| %>
      <li class="button"><%= link_to "#{menu.title}", content_home_path(menu.content) %></li>
    <% end %>
  </ul>
<% end %>

<h1><%= @advice.title %></h1>
<%= raw @advice.description %>

<% content_for :slider do %>

  <!-- Slideshow here! -->

            <!-- "previous slide" button -->
            <a class="backward">prev</a>

            <!-- container for the slides -->
            <div class="images">

              <% @slides.each do |slide| %>
                <div>
                  <h3><%= slide.title %></h3>
                  <p>
                   <%= image_tag("kep_#{slide.image_tag}.png")   %>
                   <% truncated_description = truncate("#{slide.description}", :length => 450, :omission => "...") %>
                   <%= truncated_description %>
                  </p>
                </div>
              <% end %>

            </div>

            <!-- "next slide" button -->
            <a class="forward">next</a>

            <!-- the tabs -->
            <div class="slidetabs">
                <%= link_to "#"%>
                <%= link_to "#"%>
                <%= link_to "#"%>
            </div>

            <br/><br/>

            <div class="play">PLAY</div>
            <div class="stop">STOP</div>

            <!-- Slideshow here! -->

<% end %>

<% content_for :right do %>

    <h1>Főmenü</h1>
    <%= render :partial => "shared/content", :collection => @contents %>

    <h1>Hírek, aktualitások</h1>
    <%= render :partial => "shared/advice", :collection => @advices %>

<% end %>