<h1>Tabok listája</h1>

<div class="add_new">
  <%= link_to 'Új tab felvitele', new_tab_path %>
  <%= link_to 'Vissza', admins_path %>
</div>

<table id="box-table-a">
  <thead>
    <tr>
      <th scope="col">Cím</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @tabs.each do |tab| %>
      <tr>
        <td><%= tab.title %></td>
        <td><%= link_to 'Módosít', edit_tab_path(tab) %></td>
        <td><%= link_to 'Töröl', tab, :confirm => 'Biztosan törlöd?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>

</table>
